<h2>Mostrando resultado para XXXXXXX</h2>

Lista de produtos.... <br />

<h3>Nome do Produto</h3>
<img src="/images/corsa.jpg" width="300">
<br />
Descrição do Produto.......
<br /><br />

R$ XXXXX,XX
<br />
<a href="/produto/1">Ver Detalhes</a>.

<h3>Nome do Produto</h3>
<img src="/images/corsa.jpg" width="300">
<br />
Descrição do Produto.......
<br /><br />

R$ XXXXX,XX
<br />
<a href="/produto/1">Ver Detalhes</a>
