{{ msg_erro }}
<form method="post">
E-mail:
<input type="text" name="email">
<br />
Senha:
<input type="password" name="senha">
<br />
<input type="submit" value="Login">
</form>

<a href="/cliente/form"> Não sou cadastrado.</a>
